alias myip="curl -s http://ip-api.com/json/ | jq"
alias nekoray="sudo ~/elo/apps/nekoray/launcher"
alias cp="cp -iv"
alias mv="mv -iv"
alias rm="rm -v"
alias mkd="mkdir -pv"
alias ipython="python3 -m IPython"
alias bonbast="python3 -m bonbast"
alias cptmux="tmux show-buffer | xclip -selection clipboard"
alias removeMetaTags='~/elo/apps/metatagsdelete.sh'
alias offConservativeMode='echo 0 | sudo tee /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode > /dev/null'
alias onConvervativeMode='echo 1 | sudo tee /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode > /dev/null'
alias mpvOpen='~/elo/apps/mpvOpen.sh'
alias minecraft='java -jar ~/Games/minecraft/TLauncher.v10/TLauncher.jar'
alias ddterm='~/.local/share/gnome-shell/extensions/ddterm@amezin.github.com/bin/com.github.amezin.ddterm'
alias nowtime='date +"%T"' #this will show the current time in 24hrs format as HH:MM:SS
alias nowdate='date +"%d-%m-%Y"' #this will show the current date in format dd-MM-YY
alias clear='clear -x'
alias cd='z'
alias translate='xclip -o -sel clip | tr "\n" " " | trans --brief'
alias GPUtemp='nvidia-smi -q -d temperature | grep Current '
alias mc='java -jar ~/Games/Minecraft/Game/SKlauncher-3.2.12.jar'
alias ls='ls --color'



